        body {
            font-family: 'Comic Sans MS', sans-serif;
            background-color: black;
            color: white;
            overflow-x: hidden;
        }
        #startpg, #homepg, #info, #minecraft, #projects, #settingspg {
            display: none;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #startpg{
            font-size: 2em;
            background-image: url('png/bg.png');
        }
        #homepg{
            background-image: url('png/bg.png');
        }
        #minecraft{
            background-image: url('png/mcbg.png')
        }
        #startpg.active, #homepg.active, #info.active, #minecraft.active, #projects.active ,#settingspg.active{
            display: block;
        }
        #bigtxt{
            font-size: 2em;
        }
        #page-wrapper {
            width: 100%; 
            height: 0;
            padding-bottom: 80%;
            position: relative;
            overflow: auto;
        }
        /* Button*/
        button {
            background-size: cover;
            border: none;
            color: transparent;
            background-color: #585858;
            transition: filter 0.3s ease;
        }
        button:hover {
            filter: brightness(1.2);
        }
        .btn-back {
            width: 250px;
            height: 80px;
            background-image: url('png/back.png');
        }
        /*startpage*/
        .btnstart{
            width: 250px;
            height: 80px;
            background-image: url('png/enter.png');
        }
        .btnsettings{
            width: 250px;
            height: 80px;
            background-image: url('png/settings.png');
        }
        /*homepage*/
        .btn-info {
            width: 250px; 
            height: 80px;
            background-image: url('png/info.png');
        }
        .btn-mc {
            width: 250px;
            height: 80px;
            background-image: url('png/minecraft.png');
        }
        .btn-project {
            width: 250px;
            height: 80px;
            background-image: url('png/project.png');
        }
        /*infopage*/
        .btn-yt{
            width: 250px;
            height: 80px;
            background-image: url('png/yt.png');
        }
        .btn-x{
            width: 250px;
            height: 80px;
            background-image: url('png/xcom.png');
        }
        .btn-git{
            width: 250px;
            height: 80px;
            background-image: url('png/github.png');
        }
        .btn-twitch{
            width: 250px;
            height: 80px;
            background-image: url('png/twitch.png');
        }
        .btn-reddit{
            width: 250px;
            height: 80px;
            background-image: url('png/reddit.png');
        }
        /*download*/
        .btn-lean{
            width: 400px;
            height: 100px;
            background-image: url('png/leandownload.png');
        }
        .btn-rtxtpvp{
            width: 400px;
            height: 100px;
            background-image: url('png/RTXTPVPdownload.png');
        }
        /*projects*/
        .btn-faiig{
            width: 400px;
            height: 100px;
            background-image: url('png/faiig.png');
        }
        /*otherstuff*/
        #mainsplash {
            position: relative;
            top: 50px;
            right: -250px;
            transform: rotate(20deg);
            animation: grow-shrink 1.5s infinite;
        }
        @keyframes grow-shrink {
            0% { transform: scale(1) rotate(20deg); }
            50% { transform: scale(1.1) rotate(20deg); }
            100% { transform: scale(1) rotate(20deg); }
        }
        input[type="checkbox"].btn-settings {
            appearance: none;
            background-color: #f00;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        input[type="checkbox"].btn-settings:checked {
            background-color: #0f0;
        }