
        body {
            font-family: 'Comic Sans MS', sans-serif;
        }
        #startpg, #homepg, #info, #minecraft, #projects, #settingspg {
            display: none;
            text-align: center;
        }
        #startpg{
            font-size: 2em;
        }
        #startpg.active, #homepg.active, #info.active, #minecraft.active, #projects.active ,#settingspg.active{
            display: block;
        }
        #bigtxt{
            font-size: 2em;
        }
        button {
            background-size: cover;
            border: none;
            color: transparent;
            transition: filter 0.3s ease;
        }
        button:hover {
            filter: brightness(1.2);
        }
        .btnstart{
            width: 250px; /* adjust as needed */
            height: 80px;
            background-image: url('png/enter.png');
        }
        .btnsettings{
            width: 250px; /* adjust as needed */
            height: 80px;
            background-image: url('png/settings.png');
        }
        .btn-yt{
            width: 250px; /* adjust as needed */
            height: 80px;
            background-image: url('png/yt.png');
        }
        .btn-x{
            width: 250px; /* adjust as needed */
            height: 80px;
            background-image: url('png/xcom.png');
        }
        .btn-git{
            width: 250px; /* adjust as needed */
            height: 80px;
            background-image: url('png/github.png');
        }
        .btn-twitch{
            width: 250px; /* adjust as needed */
            height: 80px;
            background-image: url('png/twitch.png');
        }
        .btn-reddit{
            width: 250px; /* adjust as needed */
            height: 80px;
            background-image: url('png/reddit.png');
        }
        .btn-back {
            width: 250px; /* adjust as needed */
            height: 80px;
            background-image: url('png/back.png');
        }
        .btn-info {
            width: 250px; /* adjust as needed */
            height: 80px;
            background-image: url('png/info.png');
        }
        .btn-mc {
            width: 250px;
            height: 80px;
            background-image: url('png/minecraft.png');
        }
        .btn-project {
            width: 250px; /* adjust as needed */
            height: 80px;
            background-image: url('png/project.png');
        }
        .btn-lean{
            width: 400px;
            height: 100px;
            background-image: url('png/leandownload.png');
        }
        .btn-rtxtpvp{
            width: 400px;
            height: 100px;
            background-image: url('png/RTXTPVPdownload.png');
        }
        @keyframes grow-shrink {
            0% { transform: scale(1) rotate(20deg); }
            50% { transform: scale(1.1) rotate(20deg); }
            100% { transform: scale(1) rotate(20deg); }
        }
        #mainsplash {
            position: fixed;
            top: 50px;
            right: 200px;
            transform: rotate(20deg);
            animation: grow-shrink 1.5s infinite;
        }
        input[type="checkbox"].btn-settings {
            appearance: none;
            background-color: #f00; /* Change to match your button color */
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        input[type="checkbox"].btn-settings:checked {
            background-color: #0f0; /* Change to desired checked color */
        }