
        body {
            font-family: 'Comic Sans MS', sans-serif;
        }
        #startpg, #homepg, #info, #minecraft, #page5, #settingspg {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 2em;
        }
        #startpg.active, #homepg.active, #info.active, #minecraft.active, #page5.active ,#settingspg.active{
            display: block;
        }
        button {
            background-size: cover;
            width: 100px; /* adjust as needed */
            height: 100px; /* adjust as needed */
            border: none;
            color: transparent;
            transition: filter 0.3s ease;
        }
        button:hover {
            filter: brightness(1.2);
        }
        .btnstart{
            width: 250px; /* adjust as needed */
            height: 80px;
            background-image: url('png/enter.png');
        }
        .btnsettings{
            width: 250px; /* adjust as needed */
            height: 80px;
            background-image: url('png/settings.png');
        }
        .btn-nuts {
            background-image: url('png/PKlogo.png');
        }
        .btn-beans {
            background-image: url('png/PKlogo.png');
        }
        .btn-legg {
            background-image: url('png/PKlogo.png');
        }
        .btn-rock {
            background-image: url('png/PKlogo.png');
        }
        @keyframes grow-shrink {
            0% { transform: scale(1) rotate(20deg); }
            50% { transform: scale(1.1) rotate(20deg); }
            100% { transform: scale(1) rotate(20deg); }
        }
        #mainsplash {
            position: fixed;
            top: 00px;
            right: -170px;
            transform: rotate(20deg);
            animation: grow-shrink 1.5s infinite;
        }
        input[type="checkbox"].btn-settings {
            appearance: none;
            background-color: #f00; /* Change to match your button color */
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        input[type="checkbox"].btn-settings:checked {
            background-color: #0f0; /* Change to desired checked color */
        }